# LLM Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Redis
REDIS_URL=redis://localhost:6379/0
CACHE_DEFAULT_TTL=3600

# Vector DB
VECTOR_DB_PATH=./storage/vector_db

# App
APP_ENV=development
LOG_LEVEL=INFO


OLLAMA_BASE_URL=http://localhost:11434

GENERATOR_MODEL=llama3.1:latest
GENERATOR_TEMPERATURE=0.2

EVALUATOR_MODEL=llama3.1:latest
EVALUATOR_TEMPERATURE=0.0